[submodule "pfUI"]
	path = pfUI
	url = https://github.com/shagu/pfUI.git
	ignore = dirty
[submodule "BigWigs"]
	path = BigWigs
	url = https://github.com/MOUZU/BigWigs.git
	ignore = dirty
[submodule "SW_Stats-Vanilla"]
	path = SW_Stats-Vanilla
	url = https://github.com/Zerf/SW_Stats-Vanilla.git
	ignore = dirty
[submodule "QuestieDev"]
	path = QuestieDev
	url = https://github.com/AeroScripts/QuestieDev.git
	ignore = dirty
[submodule "HealComm"]
	path = HealComm
	url = https://github.com/Aviana/HealComm.git
	ignore = dirty
[submodule "Clean_Up"]
	path = Clean_Up
	url = https://github.com/shirsig/Clean_Up.git
	ignore = dirty
[submodule "EQL3"]
	path = EQL3
	url = https://github.com/laytya/EQL3.git
	ignore = dirty
[submodule "YaHT"]
	path = YaHT
	url = https://github.com/Aviana/YaHT.git
	ignore = dirty
[submodule "_LP"]
	path = _LP
	url = https://github.com/satan666/_LP.git
[submodule "DPSMate"]
	path = DPSMate
	url = https://github.com/Geigerkind/DPSMate.git
[submodule "KLH-Threat-Meter-17.35"]
	path = KLH-Threat-Meter-17.35
	url = https://github.com/Linae-Kronos/KLH-Threat-Meter-17.35.git
[submodule "CEPGP"]
	path = CEPGP
	url = https://github.com/Alumian/CEPGP.git
[submodule "VanillaGuide"]
	path = VanillaGuide
	url = https://github.com/rsheep/VanillaGuide.git
[submodule "ShaguKill"]
	path = ShaguKill
	url = https://github.com/shagu/ShaguKill.git
[submodule "ShaguScore"]
	path = ShaguScore
	url = https://github.com/shagu/ShaguScore.git
[submodule "ModifiedPowerAuras"]
	path = ModifiedPowerAuras
	url = https://github.com/Geigerkind/ModifiedPowerAuras.git
[submodule "TrinketMenu-Fix"]
	path = TrinketMenu-Fix
	url = https://github.com/satan666/TrinketMenu-Fix.git
[submodule "VCB"]
	path = VCB
	url = https://github.com/Geigerkind/VCB.git
[submodule "SortBags"]
	path = SortBags
	url = https://github.com/shirsig/SortBags.git
