[submodule "pfUI"]
	path = pfUI
	url = https://github.com/shagu/pfUI.git
[submodule "BigWigs"]
	path = BigWigs
	url = https://github.com/MOUZU/BigWigs.git
[submodule "SW_Stats-Vanilla"]
	path = SW_Stats-Vanilla
	url = https://github.com/Zerf/SW_Stats-Vanilla.git
[submodule "QuestieDev"]
	path = QuestieDev
	url = https://github.com/AeroScripts/QuestieDev.git
