[submodule "pfUI"]
	path = pfUI
	url = https://github.com/shagu/pfUI.git
	ignore = dirty
[submodule "BigWigs"]
	path = BigWigs
	url = https://github.com/MOUZU/BigWigs.git
	ignore = dirty
[submodule "SW_Stats-Vanilla"]
	path = SW_Stats-Vanilla
	url = https://github.com/Zerf/SW_Stats-Vanilla.git
	ignore = dirty
[submodule "QuestieDev"]
	path = QuestieDev
	url = https://github.com/AeroScripts/QuestieDev.git
	ignore = dirty
[submodule "HealComm"]
	path = HealComm
	url = https://github.com/Aviana/HealComm.git
	ignore = dirty
[submodule "Clean_Up"]
	path = Clean_Up
	url = https://github.com/shirsig/Clean_Up.git
	ignore = dirty
[submodule "EQL3"]
	path = EQL3
	url = https://github.com/laytya/EQL3.git
	ignore = dirty
